body{
    background-color: cyan;
    border: 2px solid black;
    margin: 100px 100px 100px 100px;
}
.info{
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px;
}
.main_div{
    background-color: rgba(255, 248, 220, 0.74);
    padding: 45px 45px 45px 45px ;
    box-shadow: 5px 5px;
}
.info{
    text-align: center;
}
label{
    width: 100px;
    display:inline-block;
}
.next{
    text-align: center;
}
button{
    color: red;
}
p{
    float: right;
}