body{
    background-color: thistle;
    border: 2px solid black;
    margin: 100px 100px 100px 100px;
}
.main_div{
    background-color: cyan;
    padding: 45px 45px 45px 45px ;
    box-shadow: 5px 5px;
}
.info{
    text-align: center;
}
label{
    width: 100px;
    display:inline-block;
}
.next{
    text-align: center;
}